<footer class="page-footer px-3">
    <hr class="my-4"></hr>
    <div class="container-fluid text-center">
        <div class="row">
            <div class="col-sm">
                <a class="text-dark" href="/about">
                    <img src="/assets/images/about.png" alt="" width="35", height="35">
                    <br><u>About</u>
                </a>
            </div>
            <div class="col-sm">
                <a class="text-dark" href="/faq">
                    <img src="/assets/images/faq.png" alt="" width="35", height="35">
                    <br><u>FAQ</u>
                </a>
            </div>
            <div class="col-sm">
                <a class="text-dark" href="#">
                    <img src="/assets/images/discord.png" alt="" width="35", height="35">
                    <br><u>Discord</u>
                </a>
            </div>
            <div class="col-sm">
                <a class="text-dark" target="_blank" rel="noopener noreferrer" href="https://github.com/DonnerApp">
                    <img src="/assets/images/github.png" alt="" width="35", height="35">
                    <br><u>GitHub</u>
                </a>
            </div>
            <div class="col-sm">
                <a class="text-dark" href="/tos_pp">
                    <img src="/assets/images/tos_pp.png" alt="" width="35", height="35">
                    <br><u>Terms of Service</u>
                    <br><u>Privacy Policy</u>
                </a>
            </div>
            <div class="col-sm">
                <a class="text-dark" target="_blank" rel="noopener noreferrer" href="https://support-leagueoflegends.riotgames.com/hc/en-us/articles/225266848-Third-Party-Applications">
                    <img src="/assets/images/riot.png" alt="" width="35", height="35">
                    <br><u>Riot Games</u>
                    <br><u>Compliant</u>
                </a>
            </div>
        </div>
    </div>
</footer>
