<nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="container-fluid ml-2">
        <a class="navbar-brand" href="/">
            <img class="d-inline-block align-top mr-1" src="/assets/images/icon.png" alt="" width="40" height="40">
            <u class="h2">{{ site.title }}</u>
        </a>
    </div>
    <ul class="navbar-nav mr-3">
        <li class="nav-item">
            <a class="nav-link btn btn-outline-light text-light" href="/downloads">Downloads</a>
        </li>
    </ul>
</nav>
